{{- /* Custom by chishui Begin 
<div class="recommend">
    <div class="recommend-wrapper">
        <div class="recommend-item">
            <div class="recommend-item-wrapper" style="background-image: url('/images/banner.jpg')">
                <a href="" class="recommend-item-link">
                    <div class="recommend-item-title">
                        <h3>Demo post to demonstrate use of images</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
*/ -}}
{{- /* Custom by chishui End */ -}}
